<h1>Doctor Registration</h1>
    <form class="registration-form">
      <div class="registration-form__input-group">
        <label for="doctor-name">First Name</label>
        <input id="doctor-name" type="text" />
        <label for="dlast-name">Last Name</label>
        <input id="dlast-name" type="text" />
        <label for="specialty">Specialty</label>
        <input id="specialty" type="text" />
        <label for="dphone-number">Phone number</label>
        <input id="dphone-number" type="text" />
        <button class="primary" type="submit" (click)= "saveData()">Save</button>
      </div>
    </form>
